<?xml version="1.0"?>
<robot name="premaidai"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find premaidai_description)/urdf/common.xacro" />
  <xacro:include filename="$(find premaidai_description)/urdf/leg.urdf.xacro" />
  <xacro:include filename="$(find premaidai_description)/urdf/leg.gazebo.xacro" />
  <xacro:include filename="$(find premaidai_description)/urdf/arm.urdf.xacro" />
  <xacro:include filename="$(find premaidai_description)/urdf/arm.gazebo.xacro" />
  <xacro:include filename="$(find premaidai_description)/urdf/body.urdf.xacro" />
  <xacro:include filename="$(find premaidai_description)/urdf/body.gazebo.xacro" />

  <link name="base_link"/>

  <xacro:premaidai_leg prefix="r" parent="base_link" side="right">
    <origin xyz="0.004225 -0.0195245 0.001412" rpy="0 0 0"/>
  </xacro:premaidai_leg>
  <xacro:premaidai_leg_gazebo prefix="r"/>

  <xacro:premaidai_leg prefix="l" parent="base_link" side="left">
    <origin xyz="0.004225 0.0195245 0.001412" rpy="0 0 0"/>
  </xacro:premaidai_leg>
  <xacro:premaidai_leg_gazebo prefix="l"/>

  <xacro:premaidai_arm prefix="r" parent="base_link" side="right">
    <origin xyz="0 -0.0359 0.113043" rpy="0 0 0"/>
  </xacro:premaidai_arm>
  <xacro:premaidai_arm_gazebo prefix="r"/>

  <xacro:premaidai_arm prefix="l" parent="base_link" side="left">
    <origin xyz="0 0.0359 0.113043" rpy="0 0 0"/>
  </xacro:premaidai_arm>
  <xacro:premaidai_arm_gazebo prefix="l"/>

  <xacro:premaidai_body parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:premaidai_body>
  <xacro:premaidai_body_gazebo/>

  <gazebo>
    <plugin name="premaidai_plugin" filename="libPremaidAIPlugin.so"/>
  </gazebo>

</robot>