<?xml version="1.0"?>
<robot name="premaidai"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find premaidai_description)/urdf/common.xacro" />
  <xacro:include filename="$(find premaidai_description)/urdf/leg.urdf.xacro" />
  <xacro:include filename="$(find premaidai_description)/urdf/arm.urdf.xacro" />
  <xacro:include filename="$(find premaidai_description)/urdf/body.urdf.xacro" />

  <link name="base_link"/>

  <xacro:premaidai_leg prefix="r" parent="base_link" sign="-1.0">
    <origin xyz="0.004225 -0.0195245 0.001412" rpy="0 0 0"/>
  </xacro:premaidai_leg>

  <xacro:premaidai_leg prefix="l" parent="base_link" sign="1.0">
    <origin xyz="0.004225 0.0195245 0.001412" rpy="0 0 0"/>
  </xacro:premaidai_leg>

  <xacro:premaidai_arm prefix="r" parent="base_link" sign="-1.0">
    <origin xyz="0 -0.0359 0.113043" rpy="0 0 0"/>
  </xacro:premaidai_arm>

  <xacro:premaidai_arm prefix="l" parent="base_link" sign="1.0">
    <origin xyz="0 0.0359 0.113043" rpy="0 0 0"/>
  </xacro:premaidai_arm>

  <xacro:premaidai_body parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:premaidai_body>

</robot>